In [1]:
import pandas as pd
import glob

pattern = 'Datos/*.csv'

csv_files = glob.glob(pattern)

dataframes = []

for filename in csv_files:
    combined_csvdf = pd.read_csv(filename)
    dataframes.append(df)

combined_csv = pd.concat(dataframes)

combined_csv.to_csv('combined_file.csv', index=False)

/var/folders/dq/sptc86px36g5fbb_9g_bhzrh0000gn/T/ipykernel_4289/676416416.py:16: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)
/var/folders/dq/sptc86px36g5fbb_9g_bhzrh0000gn/T/ipykernel_4289/676416416.py:16: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)
/var/folders/dq/sptc86px36g5fbb_9g_bhzrh0000gn/T/ipykernel_4289/676416416.py:16: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)
/var/folders/dq/sptc86px36g5fbb_9g_bhzrh0000gn/T/ipykernel_4289/676416416.py:16: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)
/var/folders/dq/sptc86px36g5fbb_9g_bhzrh0000gn/T/ipykernel_4289/676416416.py:16: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)

In [68]:
import pandas as pd

combined_csv = pd.read_csv('combined_file.csv')

/var/folders/dq/sptc86px36g5fbb_9g_bhzrh0000gn/T/ipykernel_4289/291799366.py:3: DtypeWarning: Columns (2,3,7,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.read_csv('combined_file.csv')

In [69]:

combined_csv.head()

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_Estacion_Arribo,Fecha_Arribo,Hora_Arribo,Ciclo_EstacionArribo,Fecha Arribo
0,M,31.0,8871,170,01/06/2018,0:00:11,133.0,01/06/2018,0:18:39,NaN,NaN
1,M,37.0,10700,123,01/06/2018,0:00:31,52.0,01/06/2018,0:08:16,NaN,NaN
2,M,43.0,6763,9,01/06/2018,0:00:45,9.0,01/06/2018,0:42:43,NaN,NaN
3,M,23.0,10316,55,01/06/2018,0:00:52,111.0,01/06/2018,0:13:29,NaN,NaN
4,M,23.0,15304,139,01/06/2018,0:00:57,155.0,01/06/2018,0:19:33,NaN,NaN

In [70]:
combined_csv['Ciclo_Estacion_Arribo'] = combined_csv['Ciclo_Estacion_Arribo'].combine_first(combined_csv['Ciclo_EstacionArribo'])
combined_csv['Fecha_Arribo'] = combined_csv['Fecha_Arribo'].combine_first(combined_csv['Fecha Arribo'])
combined_csv.drop(columns=['Ciclo_EstacionArribo', 'Fecha Arribo'], inplace=True)

In [71]:

def standardize_date(date_series):
    standardized_dates = pd.to_datetime(date_series, errors='coerce')
    
    mask = standardized_dates.isna()
    if mask.any():
        retry_dates = pd.to_datetime(date_series[mask], format='%d/%m/%Y', errors='coerce')
        standardized_dates[mask] = retry_dates
    
    return standardized_dates.dt.date

def standardize_time(time_series):
    standardized_times = pd.to_datetime(time_series, format='%H:%M:%S', errors='coerce').dt.time
    
    mask = standardized_times.isna()
    if mask.any():
        retry_times = pd.to_datetime(time_series[mask], format='%H:%M:%S.%f', errors='coerce').dt.time
        standardized_times[mask] = retry_times
    
    return standardized_times

combined_csv['Fecha_Retiro'] = standardize_date(combined_csv['Fecha_Retiro'])
combined_csv['Fecha_Arribo'] = standardize_date(combined_csv['Fecha_Arribo'])
combined_csv['Hora_Retiro'] = standardize_time(combined_csv['Hora_Retiro'])
combined_csv['Hora_Arribo'] = standardize_time(combined_csv['Hora_Arribo'])

print(combined_csv.head())

combined_csv.info()

/var/folders/dq/sptc86px36g5fbb_9g_bhzrh0000gn/T/ipykernel_4289/777808791.py:21: SettingWithCopyWarning: modifications to a property of a datetimelike object are not supported and are discarded. Change values on the original.
  standardized_times[mask] = retry_times
/var/folders/dq/sptc86px36g5fbb_9g_bhzrh0000gn/T/ipykernel_4289/777808791.py:21: SettingWithCopyWarning: modifications to a property of a datetimelike object are not supported and are discarded. Change values on the original.
  standardized_times[mask] = retry_times

  Genero_Usuario  Edad_Usuario   Bici Ciclo_Estacion_Retiro Fecha_Retiro  \
0              M          31.0   8871                   170   2018-01-06
1              M          37.0  10700                   123   2018-01-06
2              M          43.0   6763                     9   2018-01-06
3              M          23.0  10316                    55   2018-01-06
4              M          23.0  15304                   139   2018-01-06

  Hora_Retiro Ciclo_Estacion_Arribo Fecha_Arribo Hora_Arribo
0    00:00:11                 133.0   2018-01-06    00:18:39
1    00:00:31                  52.0   2018-01-06    00:08:16
2    00:00:45                   9.0   2018-01-06    00:42:43
3    00:00:52                 111.0   2018-01-06    00:13:29
4    00:00:57                 155.0   2018-01-06    00:19:33
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27233134 entries, 0 to 27233133
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Genero_Usuario         object
 1   Edad_Usuario           float64
 2   Bici                   object
 3   Ciclo_Estacion_Retiro  object
 4   Fecha_Retiro           object
 5   Hora_Retiro            object
 6   Ciclo_Estacion_Arribo  object
 7   Fecha_Arribo           object
 8   Hora_Arribo            object
dtypes: float64(1), object(8)
memory usage: 1.8+ GB

In [72]:
combined_csv.head()

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_Estacion_Arribo,Fecha_Arribo,Hora_Arribo
0,M,31.0,8871,170,2018-01-06,00:00:11,133.0,2018-01-06,00:18:39
1,M,37.0,10700,123,2018-01-06,00:00:31,52.0,2018-01-06,00:08:16
2,M,43.0,6763,9,2018-01-06,00:00:45,9.0,2018-01-06,00:42:43
3,M,23.0,10316,55,2018-01-06,00:00:52,111.0,2018-01-06,00:13:29
4,M,23.0,15304,139,2018-01-06,00:00:57,155.0,2018-01-06,00:19:33

In [76]:
combined_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27233134 entries, 0 to 27233133
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Genero_Usuario         object
 1   Edad_Usuario           float64
 2   Bici                   object
 3   Ciclo_Estacion_Retiro  object
 4   Fecha_Retiro           object
 5   Hora_Retiro            object
 6   Ciclo_Estacion_Arribo  object
 7   Fecha_Arribo           object
 8   Hora_Arribo            object
dtypes: float64(1), object(8)
memory usage: 1.8+ GB

In [75]:
combined_csv['Fecha_Retiro'] = pd.to_datetime(combined_csv['Fecha_Retiro']).dt.date
combined_csv['Fecha_Arribo'] = pd.to_datetime(combined_csv['Fecha_Arribo']).dt.date

combined_csv.dtypes

Genero_Usuario            object
Edad_Usuario             float64
Bici                      object
Ciclo_Estacion_Retiro     object
Fecha_Retiro              object
Hora_Retiro               object
Ciclo_Estacion_Arribo     object
Fecha_Arribo              object
Hora_Arribo               object
dtype: object

In [77]:

def safe_time_conversion(time_series):
    try:
        # Intenta primero con un formato que incluye milisegundos
        return pd.to_datetime(time_series, format='%H:%M:%S.%f', exact=False).dt.time
    except ValueError:
        # Si falla, intenta con un formato sin milisegundos
        return pd.to_datetime(time_series, format='%H:%M:%S', exact=False).dt.time

# Convertir las columnas de hora
combined_csv['Hora_Retiro'] = safe_time_conversion(combined_csv['Hora_Retiro'])
combined_csv['Hora_Arribo'] = safe_time_conversion(combined_csv['Hora_Arribo'])

# Verificando los tipos de datos
combined_csv.dtypes